@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;

500;700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);.container {
  margin: auto;
  width: 100%;
  max-width: var(--container-md);
  padding: 0 0.625rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  /*------------
      COLORS
  ------------*/
  /*----------------------
      CONTAINERS SIZE
  ----------------------*/
  --container-md: 80rem;
}

.container {
  margin: auto;
  width: 100%;
  max-width: var(--container-md);
  padding: 0 0.625rem;
}

body {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

